<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuwXNhqEccGfbpXaBQGg3TTA6UxLqGOXU</string>
	<key>GCM_SENDER_ID</key>
	<string>561685697336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waitronApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>waitronapp</string>
	<key>STORAGE_BUCKET</key>
	<string>waitronapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561685697336:ios:51ffbe0c8437b207dd67cd</string>
</dict>
</plist>